
.formcont{
display: flex;
justify-content:space-around;
align-items:start;
background-color: rgb(180, 171, 171);
width: 600px;
height: 600px;
margin:100px auto;
margin-top: 100px;
padding: 20px;
}
.formcont form  {
    width:500rem;
    display:flex;
    flex-direction: column;
    
}

.formcont h1{
    color:rgb(7, 6, 6)
}
.formcont label{
    color:aliceblue
}
.formcont input{
    height:30px ;
}